.header .header__nav {
  border-bottom: 1px solid rgba(101, 105, 115, 0.1);
}

.header .header__nav .navbar {
  padding: 25px 15px;
}

.header .header__nav .navbar .navbar-light {
  padding: 0;
  background: transparent !important;
}

.header .header__nav .navbar .navbar-light .navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding: 0;
  color: #656973;
  font-size: 15px;
}

.header .header__nav .navbar .navbar-light .navbar-brand img {
  padding-right: 10px;
}

.header .header__nav .navbar .navbar-toggler {
  font-size: 0;
  padding: 0;
  line-height: 0;
  height: 30px;
  outline: none;
}

.header .header__nav .navbar .navbar-toggler-icon {
  width: 35px;
  height: 6px;
  background: #666666;
  border-radius: 2px;
  position: relative;
}

.header .header__nav .navbar .navbar-toggler-icon:before, .header .header__nav .navbar .navbar-toggler-icon:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #666666;
  border-radius: inherit;
}

.header .header__nav .navbar .navbar-toggler-icon:before {
  top: -10px;
  left: 0;
}

.header .header__nav .navbar .navbar-toggler-icon:after {
  top: 10px;
  left: 0;
}

.header__intro {
  padding-top: 180px;
  padding-bottom: 100px;
}

.header__intro-menu {
  padding-top: 110px;
}

.header__intro-menu .menu-title {
  margin-bottom: 57px;
  position: relative;
  padding-left: 25px;
}

.header__intro-menu .menu-title:after {
  display: block;
  content: "";
  width: 5px;
  height: 100%;
  border-radius: 2px;
  background-color: #18a3dd;
  position: absolute;
  top: 0;
  left: 0;
}

.header__intro-menu .menu-title h1 {
  font-size: 72px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #333740;
  text-transform: uppercase;
  line-height: 0.8;
  text-align: left;
  word-spacing: 7px;
  margin-bottom: 27px;
}

.header__intro-menu .menu-title p {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #333740;
  text-transform: capitalize;
  line-height: .8;
  text-align: left;
  word-spacing: 5px;
  margin: 0;
}

.header__intro-menu p {
  font-size: 16px;
  font-family: "Lato" , sans-serif;
  color: #666666;
  text-align: left;
  max-width: 432px;
  margin: 0;
}

.header__intro-menu .menu_btn {
  padding-top: 50px;
}

.header__intro-menu .menu_btn .btn_header-active {
  letter-spacing: 2px;
  padding: 15px 40px;
}

.header__intro-menu .menu_btn .btn_header {
  background-color: transparent;
  color: #000;
  position: relative;
}

.header__intro-menu .menu_btn .btn_header:after {
  display: block;
  content: url(../../img/header/btn.png);
  position: absolute;
  top: 9px;
  right: -14px;
}

.header__intro-picture {
  position: relative;
  z-index: 100;
}

.header__intro-picture::after {
  display: block;
  content: url(../../img/header/back.png);
  position: absolute;
  top: 37%;
  right: -40%;
  z-index: 1;
}

.header__intro-picture img {
  position: relative;
  z-index: 2;
}

.btn {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #f1f1f1;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #18a3dd;
  border-radius: 30px;
}

.info {
  background: url(../../img/info/back.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 115px;
}

.info__inner {
  padding-top: 80px;
  padding-bottom: 50px;
}

.info__inner-picture {
  position: relative;
}

.info__inner-picture img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  position: absolute;
  top: -230px;
  left: -71px;
}

.info__inner-block h3 {
  font-size: 72px;
  font-family: "Lato", sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: left;
  font-weight: 900;
  line-height: .8;
  padding-left: 23px;
  padding-bottom: 22px;
  position: relative;
}

.info__inner-block h3:after {
  display: block;
  content: "";
  width: 5px;
  height: 100%;
  max-height: 50px;
  background-color: #18a3dd;
  border-radius: 2px;
  position: absolute;
  top: 11px;
  left: 0;
}

.info__inner-block span {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #18a3dd;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.info__inner-block p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #a9a9a9;
  text-transform: capitalize;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.main__title {
  text-align: center;
}

.main__title h1 {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  color: #333740;
  font-weight: 800;
  text-transform: uppercase;
}

.main__title h1 span {
  font-weight: 300;
  padding-left: 37px;
  position: relative;
}

.main__title h1 span:before {
  display: block;
  content: "";
  background-color: #18a3dd;
  width: 1px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 9%;
}

.main__title p {
  font-size: 16px;
  font-family: "Lato",sans-serif;
  color: #83888f;
}
/*# sourceMappingURL=main.css.map */