.btn{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: rgb(241, 241, 241);
    font-weight: 700;

    text-transform: uppercase;

    background-color:#18a3dd;

    
    border-radius: 30px;
}