.buy{
    padding-top: 120px;
}

.buy__picture{
    position: relative;
    &:after{
        display: block;
        content: url(../../img/buy/buyBack.png);

        position: absolute;
        top: 32%;
        left: -15%;

        z-index: -1;
    }
    
}

.buy__title{
    h1{
        font-size: 30px;
        padding-bottom: 0;
        line-height: 1.5;
        color: rgb(51, 55, 64);
        &:after{
            height: 77%;
        }
        span{
            font-family: "Lato", serif;
            font-weight: 400;
            font-size: 20px;

            display: block;
        }
    }
    P{
        max-width: 350px;
        line-height: 1.5;

        padding-top: 35px;
        padding-bottom: 35px;
    }
    .btn-buy{
        padding: 13px 40px;
    }
}