.header {
    .header__nav {
        border-bottom: 1px solid rgba(101, 105, 115, .1);
        padding-top: 25px;
        padding-bottom: 15px;

        .navbar-white {
            padding: 10px 15px;

            .navbar-light {
                //Логотип
                padding: 0;
                background: transparent !important;

                .navbar-brand {
                    font-family: 'Raleway', sans-serif;
                    font-weight: 700;
                    padding: 0;

                    color: #656973;

                    font-size: 15px;

                    img {
                        padding-right: 10px;
                    }
                }
            }

            //Кнопка навбара
            .navbar-toggler {
                font-size: 0;
                padding: 0;
                line-height: 0;

                height: 30px;

                outline: none;
            }

            // Содержимое кнопки
            .navbar-toggler-icon {
                width: 35px;
                height: 6px;

                background: #666666;

                border-radius: 2px;

                position: relative;

                &:before,
                &:after {
                    content: "";

                    width: 100%;
                    height: 100%;

                    position: absolute;

                    background: #666666;

                    border-radius: inherit;
                }

                &:before {
                    top: -10px;
                    left: 0;
                }

                &:after {
                    top: 10px;
                    left: 0;
                }
            }

        }
    }
}