.header__intro{
    padding-top: 180px;
    padding-bottom: 100px;
}

.header__intro-menu{
    padding-top: 110px;
    .menu-title{
        margin-bottom: 57px;
        position: relative;
        padding-left: 25px;
        &:after{ 
            display: block;
            content: "";
            width: 5px;
            height: 100%;

            border-radius: 2px;
            background-color: rgb(24, 163, 221);

            position: absolute;
            top: 0;
            left: 0; 
        }
        h1{
            font-size: 72px;
            font-family: "Raleway", sans-serif;
            font-weight: 800;

            color: rgb(51, 55, 64);
            text-transform: uppercase;

            line-height: 0.8;
            text-align: left;

            word-spacing: 7px;

            margin-bottom: 27px;
        }
        p{
            font-size: 24px;
            font-family: "Raleway", sans-serif;
            font-weight: 800;

            color: rgb(51, 55, 64);
            text-transform: capitalize;
            
            line-height: .8;
            text-align: left;

            word-spacing: 5px;

            margin: 0;
        }
    }
    p{
        font-size: 16px;
        font-family: "Lato" , sans-serif;
        color: rgb(102, 102, 102);

        text-align: left;

        max-width: 432px;

        margin: 0;
    }
    .menu_btn{
        padding-top: 50px;
        .btn_header-active{
            letter-spacing: 2px;
            padding: 15px 40px;
        }
        .btn_header{
            background-color:transparent;
            color: #000;

            position: relative;
            &:after{
                display: block;
                content:url(../../img/header/btn.png);
                position: absolute;
                top: 9px;
                right: -14px;
            }
        }
    }
}

.header__intro-picture{
    position: relative;
    z-index: 100;
        &::after{
            display: block;
            content:url(../../img/header/back.png);

            position: absolute;
            top:37%;
            right: -40%;

            z-index: 1;
        }
    img{
        position: relative;
        z-index: 2;
    }
}

